.fileDirect:hover {
    font-weight: bold;
    color: red;
    background: rgba(202, 196, 196, 0.5);

}

.fileDirect {
    cursor: default;
    border-bottom: silver solid 1px;
}

.btnAdd:hover {
    color: green;
    cursor: pointer;
}

.file {
    border-bottom: silver solid 1px;
    cursor: default;
}

.file:hover {
    background: rgba(202, 196, 196, 0.5);
}

.deleteFile:hover {
    color: red;
    cursor: pointer;
}

.btnIcon {
    background: none;
    border: 0;
}